<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quotes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Black">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:theme="@style/Black.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".authors.AuthorsActivity"
            android:label="@string/title_activity_authors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".quotes.QuotesActivity"
            android:label="@string/title_activity_add_quote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity android:name=".quotes.AddQuoteActivity"
            android:label="@string/title_activity_add_quote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>

        <activity android:name=".quotes.EditQuoteActivity"
            android:label="@string/title_activity_edit_quote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>
    </application>

</manifest>