<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.blacklagoonapps.myquotes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Black">
        <activity
            android:name="io.blacklagoonapps.myquotes.MainActivity"
            android:label="@string/main_title"
            android:launchMode="singleTop"
            android:theme="@style/Black.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.blacklagoonapps.myquotes.AboutActivity"
            android:label="@string/about_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.MainActivity"/>
        </activity>
        <activity
            android:name="io.blacklagoonapps.myquotes.LicensesActivity"
            android:label="@string/licenses_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.AboutActivity"/>
        </activity>
        <activity
            android:name="io.blacklagoonapps.myquotes.settings.SettingsActivity"
            android:label="@string/settings_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.MainActivity"/>
        </activity>
        <activity
            android:name="io.blacklagoonapps.myquotes.authors.AuthorsActivity"
            android:label="@string/authors_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.MainActivity"/>
        </activity>

        <activity
            android:name="io.blacklagoonapps.myquotes.quotes.QuotesActivity"
            android:label="@string/add_quote_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.MainActivity"/>
        </activity>

        <activity
            android:name="io.blacklagoonapps.myquotes.quotes.AddQuoteActivity"
            android:label="@string/add_quote_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.MainActivity"/>
        </activity>

        <activity
            android:name="io.blacklagoonapps.myquotes.quotes.EditQuoteActivity"
            android:label="@string/edit_quote_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.blacklagoonapps.myquotes.MainActivity"/>
        </activity>
    </application>

</manifest>